main h2 {
    margin-bottom: 0;
    float: left
}
main div {
    margin-top 0;
    padding: 1px;
    background-color: black;
    margin-bottom: 20px;
}
main textarea {
    padding;
    padding-left: 2em;
    
}
main span {
    margin-left: 310px;
}
