.new-tweet {
    border-style: groove;
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
}

.new-tweet h2 {
    margin-top: 0;
    margin-bottom: 0;
    float: top;
    font-size: 200%;
}
.new-tweet div {
    margin-top: 0;
    padding: 1px;
    background-color: black;
    margin-bottom: 20px;
}
.new-tweet textarea {
    width: 100%;    
    padding: 5px 5px;
    
}
.new-tweet .counter {
    float: right;
    font-style: italic;
    font-weight: 500;
    font-size: 90%;
    padding-top: 8px;
    padding-right: 4px;
}
